{% extends 'app1/base.html' %}
{% block content %}
<br><br>
<a href="{% url 'addcerti' %}" class="btn btn-dark">Add Certificates</a>
<br><br>

<div class="row">
  {% for certi in certificates.all %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{certi.name}}</h5>
        <p class="card-text text-muted">{{certi.org}}</p>
        <h6 class="card-subtitle mb-2 text-muted">{{certi.date|date:"F, Y"}}</h6>
        <a href="{{certi.link}}" class="btn btn-dark">View</a>
      </div>
    </div>
<br><br>
  </div>

{% endfor %}
</div>
{% endblock %}
