{% extends 'app1/base.html' %}
{% block content %}
<h2>Contact Page</h2>
<br><br>
<div class="container">
<form method="POST" action="{% url 'success' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input name="name" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleFormControlInput1">
  </div>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
  </div>
   <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
{% endblock %}
