{% extends 'app1/base.html' %}
{% block content %}
{% load static %}
<br><br>
<div class="container">
<div class="row">
<div class="col-md-9">
  <h2>Contact Page</h2>
  <br><br>
<form method="POST" action="{% url 'success' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input name="name" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleFormControlInput1">
  </div>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
  </div>
   <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
<div class="col-md-3">
  <div class="content-section" style="position:fixed">
    <br><br><br>
    <h4>Social Links</h4>
    <p class='text-muted'>........................................................
      <ul class="list-group">
        <a style="text-decoration: none" href="https://github.com/rohangautam09">
        <li class="list-group-item list-group-item-light">
          <img src="{% static 'app1/images/github-logo.png' %}" height="20">&emsp;GitHub</li>
         </a>
         <a style="text-decoration: none" href="https://www.linkedin.com/in/rohangautam09/">
         <li class="list-group-item list-group-item-light">
           <img src="{% static 'app1/images/linkedin.png' %}" height="20">&emsp;LinkedIn</li>
          </a>
          <a style="text-decoration: none" href="https://www.instagram.com/rohan_gautam/">
          <li class="list-group-item list-group-item-light">
            <img src="{% static 'app1/images/instagram.png' %}" height="20">&emsp;Instagram</li>
           </a>
      </ul>
    </p>
  </div>
</div>
</div>
</div>
{% endblock %}
