{% extends 'app1/base.html' %}
{% block content %}
<br><br>
<div class="row">
<div class="col-md-8">
<div class="card mb-3">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="content-section">
    <h3>My Projects</h3>

      <ul class="list-group">
        <a style="text-decoration: none" href="#">
        <li class="list-group-item list-group-item-light">Project 1 </li>
        </a>
        <a style="text-decoration: none" href="#">
        <li class="list-group-item list-group-item-light">Project 2</li>
        </a>
        <a style="text-decoration: none" href="#">
        <li class="list-group-item list-group-item-light">Project 3</li>
        </a>

      </ul>
  
  </div>
</div>
</div>

{% endblock %}
