{% extends 'app1/base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="{% static 'app1/images/img3.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Wakanda</h5>
          <p class="card-text">Wakanda would be the third act's focal point, being the safe haven for Vision (and his Mind Stone). And since Wakanda had never been conquered in its history, it seemed like the ideal place to stage a final battle.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="{% static 'app1/images/img2.jpg' %}" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">Knowhere</h5>
          <p class="card-text">Knowhere isn't exactly a planet; it's the severed head of a celestial that became occupied by Taneleer Tivan, aka the Collector, and the Tivan Group.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="text-center">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <img class="card-img-top" src="{% static 'app1/images/img4.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Titan</h5>
            <p class="card-text">While Titan's location in the MCU remains unclear, in the comics, Titan is still the real-life moon of Saturn. Regardless of its location, though, Titan suffered a catastrophic event that practically wiped out all life on the planet, except for Thanos. </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <img class="card-img-top" src="{% static 'app1/images/img5.jpg' %}" alt="Card image cap" >
          <div class="card-body">
            <h5 class="card-title">Stark Tower</h5>
            <p class="card-text">The tower formerly known as Stark Tower and Avengers Tower is a high-rise building complex located in Manhattan, New York City. Constructed by Tony Stark, the tower was powered by an Arc Reactor that makes it capable of running itself for over a year. The top ten floors were originally all devoted to research and development. </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
